.about {   
  padding: 70px 0;
  text-align: center;
}
  
.about h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.InfoContainer {
  display: flex;
  justify-content: center;
}

.aboutUs {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 3%;
  padding: 10px 20px 10px 20px;
  margin: 0 30px 0 30px;
  transition: box-shadow 0.3s ease-in-out;
}

.aboutUs:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}

.about p {
  margin: 3px;
}

.studentInfo {
  font-weight: bold;
}

.studentImg {
  width: 100px;
  height: 100px;
}

.studentImg,
.studentName,
.studentAge,
.studentGender,
.studentAddress {
  margin-bottom: 5px;
}

.googleMap {
  height: 500px;
  width: 100%;
  margin-top: 40px;
  border: 3px solid rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}

.googleMap:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
