.details {
  min-height: 200px;
  max-width: 400px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  transition: color 0.5s ease;
}

.details .spot {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: border-color 0.5s ease;
}

.details .spot-attraction {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.details .spot-municipality {
  padding-top: 10px;
  padding-inline: 20px;
  font-weight: bold;
  font-size: 20px;
}

.details .spot-address {
  font-size: 20px;
}

.details .spot-details {
  font-size: 20px;
}

.spot.show {
  display: block;
}

.spot.hide {
  display: none;
}