.details {
  transform: scale(0.7);
  color: rgba(0, 0, 0, 0);
  text-align: center;
  border-radius: 4px;
}

.details .spot {
  padding: 10px 20px;
  box-sizing: border-box;
}

.details .spot-attraction {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.details .spot-address {
  font-size: 13px;
}

.details .spot-details {
  padding-top: 3px;
  font-size: 15px;
}

.spot.show {
  display: block;
}

.spot.hide {
  display: none;
}