<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourist Attraction</title>

    <link rel="stylesheet" href="Main.css" />
    <link rel="stylesheet" href="Intro.css" />
    <link rel="stylesheet" href="Attraction.css" />
    <link rel="stylesheet" href="IntroBG.css"/>
    <link rel="stylesheet" href="Gallery.css" />
    <link rel="stylesheet" href="About.css" />
    <link rel="stylesheet" href="Contact.css" />
    <link rel="stylesheet" href="details.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <script src="Intro.js" defer></script>
    <script src="Attraction.js" defer></script>
    <script src="Gallery.js" defer></script>
    <script src="About.js" defer></script>
  </head>
  <body>
    <section class="IntroSec">
      <header>
        <nav class="StickyNav">
          <div class="IntroContainer">
            <ul class="menu">
              <li><a href="#attractions">Attractions</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="IntroContainer">
        <h1>Welcome to Boracay!</h1>
        <p>Discover the beauty and wonders of our destination</p>
        <a href="https://en.wikipedia.org/wiki/Boracay" class="infoBtn">About Boracay</a>
      </div>
    </section>

    <section id="attractions" class="AttractSec">
      <h2 class="MainAttract">Boracay</h2>
    
      <div class="Attractions">
        <div class="AttractContainer">
          <div class="imgcontainer">
            <img src="images/whiteBeach1.jpg" alt="" />
            <img src="images/whiteBeach.jpg" alt="" />
            <div class="content">
              <p class="locName">Location:</p>
              <h3></h3>
            </div>
          </div>
          <p class="TouristSpot"></p>
        </div>
    
        <div class="AttractContainer">
          <div class="imgcontainer">
            <img src="images/boracayIsland.jpg" alt="" />
            <img src="images/boracayIsland1.jpg" alt="" />
            <div class="content">
              <p class="locName">Location:</p>
              <h3></h3>
            </div>
          </div>
          <p class="TouristSpot"></p>
        </div>
    
        <div class="AttractContainer">
          <div class="imgcontainer">
            <img src="images/beachPath1.jpg" alt="" />
            <img src="images/beachPath.jpg" alt="" />
            <div class="content">
              <p class="locName">Location:</p>
              <h3></h3>
            </div>
          </div>
          <p class="TouristSpot"></p>
        </div>
    
        <div class="AttractContainer">
          <div class="imgcontainer">
            <img src="images/bulabogBeach.jpg" alt="" />
            <img src="images/bulabogBeach1.jpg" alt="" />
            <div class="content">
              <p class="locName">Location:</p>
              <h3></h3>
            </div>
          </div>
          <p class="TouristSpot"></p>
        </div>
        
        <div class="AttractContainer">
          <div class="imgcontainer">
            <img src="images/tambisaanBeach.jpg" alt="" />
            <img src="images/tambisaanBeach1.jpg" alt="" />
            <div class="content">
              <p class="locName">Location:</p>
              <h3></h3>
            </div>
          </div>
          <p class="TouristSpot"></p>
        </div>
    
      <div class="details">
        <div class="spot">
          <h3 class="spot-attraction"></h3>
          <p class="spot-address"></p>
          <p class="spot-details"></p>
        </div>
      </div>
    </section>
    
    <section id="gallery" class="GallSec">
      <div class="GalleryContainer">
        <h2>Photo Gallery</h2>
        <div class="ImageWrapper">
          <i id="left" class="fa-solid fa-angle-left"></i>
          <div class="ImageCarousel">
            <img src="images/beachPath.jpg" alt="1" />
            <img src="images/boracayIsland.jpg" alt="2" />
            <img src="images/beachPath1.jpg" alt="3" />
            <img src="images/boracayIsland1.jpg" alt="4" />
            <img src="images/bulabogBeach.jpg" alt="5" />
            <img src="images/tambisaanBeach.jpg" alt="6" />
            <img src="images/whiteBeach.jpg" alt="7" />
            <img src="images/bulabogBeach1.jpg" alt="8" />
            <img src="images/whiteBeach1.jpg" alt="9" />
            <img src="images/tambisaanBeach1.jpg" alt="10" />
          </div>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
      </div>
    </section>

    <section id="about" class="about">
      <div class="AboutContainer">
        <h2>About Us</h2>
        <div class="InfoContainer">
          <div class="aboutUs">
            <div class="studentProfile">
              <div>
                <p class="studentInfo">Student Name:</p>
                <p class="studentName"></p>
              </div>
              <div>
                <p class="studentInfo">Student Age:</p>
                <p class="studentAge"></p>
              </div>
              <div>
                <p class="studentInfo">Student Gender:</p>
                <p class="studentGender"></p>
              </div>
              <div>
                <p class="studentInfo">Student Address:</p>
                <p class="studentAddress"></p>
              </div>
            </div>
          </div>
  
          <div class="aboutUs">
            <div class="studentProfile">
              <div>
                <p class="studentInfo">Student Name:</p>
                <p class="studentName"></p>
              </div>
              <div>
                <p class="studentInfo">Student Age:</p>
                <p class="studentAge"></p>
              </div>
              <div>
                <p class="studentInfo">Student Gender:</p>
                <p class="studentGender"></p>
              </div>
              <div>
                <p class="studentInfo">Student Address:</p>
                <p class="studentAddress"></p>
              </div>
            </div>
          </div>
  
          <div class="aboutUs">
            <div class="studentProfile">
              <div>
                <p class="studentInfo">Student Name:</p>
                <p class="studentName"></p>
              </div>
              <div>
                <p class="studentInfo">Student Age:</p>
                <p class="studentAge"></p>
              </div>
              <div>
                <p class="studentInfo">Student Gender:</p>
                <p class="studentGender"></p>
              </div>
              <div>
                <p class="studentInfo">Student Address:</p>
                <p class="studentAddress"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="ContactContainer">
        <h2>Contact Us</h2>
        <p>
          If you have any questions or inquiries, feel free to get in touch with
          us.
        </p>
        <form>
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="Your Email" />
          <textarea placeholder="Your Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2023 Tourist Attraction. All rights reserved.</p>
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
